@tailwind base;
@tailwind components;
@tailwind utilities;

/* app transitions */
.page-enter-active,.page-leave-active, .loading  {  transition: all 0.4s;}
.page-enter-from,.page-leave-to {  opacity: 0;}

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes circle-loading {
  to {
    transform: rotateZ(360deg);
  }
}

.loading span {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #4ade80;
  animation: circle-loading 1200ms ease infinite;
}

.component-app__wrap-sliderHero::before {
  content: "";
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  pointer-events: none;
  background-image: linear-gradient(to top, #111827, rgba(0, 0, 0, 0));
}

.component-app__wrap-slideHero {
  position: relative;
  height: 0;
}

.component-app__linear-black {
  content: "";
  z-index: 2;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(to right, #111827, rgba(0, 0, 0, 0));
}

.component-app__wrap-slideHero img, .component-app__wrap-movieCard img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: all .5s ease-in-out;
}

.component-app__wrap-slideHero p {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 10;
}

.component-app__wrap-movieCard {
  padding-top: 130%;
}

.component-app__wrap-movieCard-info {
  position: absolute;
  width: 100%;
  opacity: 1;
  bottom: 0px;
  padding: 10px;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  transition: all 0.3s ease 0s;
}

.precent-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .1);
}

.precent-bar .precent-per {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #fff;
  background: #fff;
}

.precent-per .percent-tooltip {
  position: absolute;
  right: -25px;
  top: -40px;
  font-size: 10px;
  font-weight: 800;
  color: #fff;
  padding: 4px 12px;
  z-index: 100;
  border: 1px solid #fff;
  background: #111827;
}

.precent-per .percent-tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 10px;
  height: 10px;
  z-index: 10;
  background-color: #fff;
  transform: translateX(-50%) rotate(45deg);
}

@media screen and (min-width: 1200px){
  .component-app__aspect-ratio {
    padding-top: 45%;
  }
  
  .component-app__wrap-movieCard:hover img {
    transform: scale(1.2);
  } 

  .component-app__wrap-movieCard {
    padding-top: 160%;
  }

  .component-app__wrap-movieCard-info {
    opacity: 0;
    bottom: -20px;
    padding: 2rem 1rem;
  }
  
  .component-app__wrap-movieCard:hover .component-app__wrap-movieCard-info {
    opacity: 1;
    bottom: 0px;
  }
}

  @media (min-width: 900px) and (max-width: 1200px){
    .component-app__aspect-ratio {
      padding-top: 60%;
    }
  }

  @media (min-width: 600px) and (max-width: 900px) {
    .component-app__aspect-ratio {
      padding-top: 80%;
    }
  }

  @media (min-width: 0px) and (max-width: 600px) {
    .component-app__aspect-ratio {
      padding-top: 130%;
    }
  }
